<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo-wrapper">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
  </div>
  <form #loginForm="ngForm">
    <ion-card>
      <ion-card-content>
        <ion-card-title text-center color="primary">Login</ion-card-title>
        <div>
        <button ion-button block class="google" (click)="signInWithGoogle()">
          Login With Google
        </button>
        <button ion-button block class="facebook" (click)="signInWithFb()">
          Login With Facebook
        </button>
      </div>
      <h2 class="or_h2">OR</h2>
      <hr>
        <ion-item>
          <ion-label floating>Email Address</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="account.email" #email="ngModel" email>
          </ion-input>
        </ion-item>

        <div padding *ngIf="email.invalid && email.dirty">
          <span class="global_input-error">Email entered is invalid</span>
        </div>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" required [(ngModel)]="account.password" name="password" #password="ngModel" pattern="^.{6,}$"></ion-input>
        </ion-item>

        <div padding *ngIf="password.invalid && password.dirty">
          <span class="global_input-error">Password must be atleast 6 characters</span>
        </div>

      </ion-card-content>
      <ion-row class="login-form_buttons">
        <button ion-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
        <button ion-button color="secondary" (click)="goToRegisterPage('RegisterPage')">Register</button>
      </ion-row>
    </ion-card>
  </form>
</ion-content>