page-register {
    .logo-wrapper{
        text-align: center;
    }
    .logo{
        margin: 0 auto;
        display: block;
        max-width:200px;
    }
    ion-card ion-row {
        padding: 10px;
        float: right
    }
    .terms_div{
        display: block;
        ion-checkbox {
            float: left;
            margin: 0px 5px 0px 20px;
        }
        a {
            text-decoration: none;
        }
    }
    .register_button{
        text-align: center
    }
}
