page-profile {
    .profile-view_image-container{
        background-color:  #b9d2ff;
        height: 220px;
        
        img{
            padding-top: 20px;
            height: 200px;
            max-height: 200px;
            margin: 0px auto;
        }
    }
}
