<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>My Surveys</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addNewSurvey()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngIf="emptyList">You have not created any Surveys yet, click here to <a (click)="addNewSurvey()">Create One</a></ion-item>
    <ion-item-sliding #item *ngFor="let survey of surveyList">
      <ion-item (click)="editSurvey(survey)">
        <ion-icon item-left name="clipboard"></ion-icon>
        <h2>{{ survey.title }}</h2>
        <p>{{ survey.description }}</p>
        <ion-badge item-end>{{survey.surveyVotes}}</ion-badge>
      </ion-item>
      <ion-item-options slide="left">
        <button ion-button color="secondary" (click)="shareSurvey(item,survey)">
          <ion-icon name="share"></ion-icon>
          Share
        </button>
        <button ion-button color="primary" (click)="surveyStats(item,survey)">
          <ion-icon name="information-circle"></ion-icon>
          Stats
        </button>
        <button *ngIf="!survey.disabled" ion-button color="warning" (click)="disableSurvey(item,survey)">
          <ion-icon name="remove-circle"></ion-icon>
          Disable
        </button>
        <button *ngIf="survey.disabled" ion-button color="warning" (click)="enableSurvey(item,survey)">
          <ion-icon name="add-circle"></ion-icon>
          Enable
        </button>
        <button ion-button color="danger" (click)="removeSurvey(item,survey)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab icon-only (click)="addNewSurvey()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>